.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* App.css */
body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home {
  min-height: 100vh;
  /* Ensure the home container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  /* Apply the background color to the entire home container */
}
.Asterix {
  min-height: 100vh;
  /* Ensure the home container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  /* Apply the background color to the entire home container */
}

.WitnessStatementProcessor {
  min-height: 100vh;
  /* Ensure the home container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  /* Apply the background color to the entire home container */
}
.DiffieHellman {
  min-height: 100vh;
  /* Ensure the home container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  /* Apply the background color to the entire home container */
}
.FoodChive {
  min-height: 100vh;
  /* Ensure the home container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  /* Apply the background color to the entire home container */
}
.Masonsmaze {
  min-height: 100vh;
  /* Ensure the home container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  /* Apply the background color to the entire home container */
}
.work {
  min-height: 100vh;
  /* Ensure the home container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  /* Apply the background color to the entire home container */
}
.education {
  min-height: 100vh;
  /* Ensure the home container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0f7fa;
  /* Apply the background color to the entire home container */
}
.projects{
    min-height: 100vh;
      /* Ensure the home container takes at least the full height of the viewport */
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #e0f7fa;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
